/* Kopfzeile fixieren und Stil hinzufügen */
.navbar {
    background-color: #333;
    padding: 1dvh 2dvh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9dvh;
    z-index: 1000; /* Header bleibt oben */
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0.2dvh 1dvh rgba(0, 0, 0, 0.3); /* Optional: Etwas Schatten für den Header */
}

/* Navbar für Buttons */
.navbar nav {
    display: flex; /* Flexbox verwenden */
    justify-content: flex-end; /* Die Navbar nach rechts schieben */
    width: 100%; /* Auf volle Breite setzen */
    padding-right: 3.7dvw;
}

/* Dropdown-Button und Dropdown-Inhalt */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: transparent;
    color: deepskyblue;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 15px; /* Abstand zwischen den Buttons */
}

.dropdown-btn:hover {
    background-color: crimson;
}

/* Dropdown-Menü anpassen */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1001; /* Stellt sicher, dass das Dropdown über dem Header liegt */
    top: 100%; /* Dropdown-Menü erscheint direkt unter dem Button */
    left: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Optional: Etwas Schatten für bessere Sichtbarkeit */
}

/* Dropdown-Items */
.dropdown-item {
    background-color: #333;
    color: deepskyblue;
    padding: 12px 16px;
    display: block;
    text-align: left;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown-item:hover {
    background-color: crimson;
}

/* Dropdown bei Hover anzeigen */
.dropdown:hover .dropdown-content {
    display: block; /* Dropdown bleibt sichtbar bei Hover */
}


.ButtonBlue {
    width: 100%;
    font-size: 1.37rem;
    background-color: deepskyblue;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    outline: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Hover-Effekt */
.ButtonBlue:hover {
    background-color: dodgerblue;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Animation bei der Klasse .collapsed */
.ButtonBlue.collapsed {
    animation: collapse 0.5s forwards;
}

.ButtonRed {
    width: 100%;
    font-size: 1.37rem;
    background-color: crimson;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    outline: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Hover-Effekt */
.ButtonRed:hover {
    background-color: darkred; /* Dunklerer Rotton beim Hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Animation bei der Klasse .collapsed */
.ButtonRed.collapsed {
    animation: collapse 0.5s forwards;
}

/* Animation für das "Zusammenfallen" */
@keyframes collapse {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(0, 0);
        opacity: 0;
    }
}



.ButtonClose {
    display: block;
    margin-top: 10px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 0;
    right: 2%;
    width: calc(2rem + 10px);
    height: calc(2rem + 10px);
}

.ButtonClose:hover {
    background-color: darkred;
}

.ButtonClose:active {
    background-color: darkred;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-button {
    display: block;
    padding: 10px;
    margin-top: 15px;
    background-color: #EE7600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.add-button:hover {
    background-color: #CD6600;
}

.add-button:active {
    background-color: #CD6600;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}