/* Resetten von Margin und Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

/* Kopfzeile fixieren und Stil hinzufügen */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: 6dvh; /* Platz für den fixierten Header */
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #007BFF; /* Farbe des Rahmens */
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s; /* Sanfte Übergänge */
    font-size: 1rem;
    outline: none; /* Entfernt den Standard-Rahmen */
}

input:focus {
    border-color: #0056b3; /* Dunklere Farbe beim Fokussieren */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Schattierungseffekt */
}

input::placeholder {
    color: #aaa; /* Farbe des Platzhalters */
    transition: color 0.3s;
}

input:focus::placeholder {
    color: transparent; /* Platzhalter wird beim Fokussieren unsichtbar */
}

select {
    width: 100%;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1rem;
    outline: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23007BFF" d="M2 5L0 3h4z"/></svg>'); /* Pfeil nach unten */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    cursor: pointer;
}

select:focus {
    border-color: #0056b3; /* Dunklere Farbe beim Fokussieren */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Gleicher Schattierungseffekt */
}

/* Optional: Stil für deaktiviertes Select */
select:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}




main {
    display: flex; /* Ermöglicht die Anordnung der main-container */
    flex-direction: column; /* Stapelt die Container vertikal */
    gap: 9px; /* Abstand zwischen den einzelnen main-container */
    background-color: #999;
    height: calc(100dvh - 54px);
}

/* main-container bleibt mit display: none, damit es per JavaScript sichtbar gemacht werden kann */
.main-container {
    display: none; /* Flexbox für die drei Divs */
    justify-content: space-between; /* Gleichen Abstand zwischen den Divs */
    gap: 9px; /* Minimaler Abstand zwischen den Divs */
    height: 100%; /* Flexibel mit verfügbarer Höhe */
    align-items: stretch; /* Alle divs strecken sich auf die gleiche Höhe */
}

/* section bleibt mit display: none, damit es per JavaScript sichtbar gemacht werden kann */
section {
    display: none; /* Flexbox für die drei Divs */
    justify-content: space-between; /* Gleichen Abstand zwischen den Divs */
    gap: 3px; /* Minimaler Abstand zwischen den Divs */
    height: 100%; /* Flexibel mit verfügbarer Höhe */
    align-items: stretch; /* Alle divs strecken sich auf die gleiche Höhe */
}

/* Die bestehenden Styles für .main-div bleiben unverändert */
.main-div {
    flex: 1; 
    padding: 9px;
    box-sizing: border-box; 
    border-radius: 9px;
    background-color: #bbb;
    margin-top: 0.37dvh;
    font-weight: bolder;
    font-size: 1rem;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.73);
    overflow-y: scroll;
    position: relative;
}

.main-div p {
    margin-top: 9px;
    text-align: center;
}

.main-div-headline {
    width: 100%;
    text-align: center;
    font-size: 1.73rem;
}

.position-container {
    text-align: right;
    position: relative;
    margin-top: 3px;
    border-radius: 9px;
    background-color: #eee;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.73);

    z-index: 1; /* Höherer z-index als der fill-Element */
}

/* Text positionieren */
.position-container span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    z-index: 2; /* Höher als der z-index des fill-Divs */
    padding-top: 9px;
}

.position-container img {
    height: 100%;
    width: 15%;
    position: absolute;
    left: 0;
    border-radius: 9px 0px 0px 9px;
    object-fit: cover;
}

.truncate-tooltip {
    width: 40%;
    text-align: center;
}

/* fillbar */
.fillbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.5);
    z-index: 0; /* Der Fill-Element bleibt hinter dem Inhalt */
    transition: width 0.5s ease-out; /* Übergang für die Breitenänderung */
    border-radius: 9px;
}

.site-name {
    color: deepskyblue; /* Schriftfarbe in DeepskyBlue */
    font-size: 2em; /* Anpassung der Schriftgröße */
    font-weight: bold; /* Fettgedruckt */
    text-shadow: 2px 2px 4px crimson; /* Crimson-Umrandung */
    margin-left: 20px; /* Abstand zu den Dropdown-Elementen */
    display: inline-block; /* Damit der Name in einer Linie bleibt */
    cursor: cell;
}

.expandBox-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: calc(100% - 20px);
    overflow: hidden;
}

.expandBox-info {
    display: flex;
    justify-content: space-between; /* Elemente in einer Linie anzeigen */
}

.expandBox-label {
    font-weight: bold;
}

.expandBox-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.expandBox-item.expanded .expandBox-details {
    max-height: 1000px; /* Genug Platz für den Inhalt */
}

/* Main Container für die 3 divs 
main {
    display: flex;
    justify-content: space-between; 
    gap: 9px; 
    margin-top: 6dvh;
    height: 94dvh;
}*/

/* Die drei divs gleich groß und maximale Höhe 
.main-div {
    flex: 1; 
    padding: 9px;
    box-sizing: border-box; 
    border: 1px solid #333;
    border-radius: 9px;
    height: 99%;
    background-color: #bbb;
    margin-top: 0.37dvh;
}*/

/* Optional: Styling für die divs (kann später angepasst werden) 
.main-div:hover {
    background-color: #e0e0e0;
}
*/
