.mask {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #bbb;
    border: 2px solid black;
    border-radius: 9px;
    padding: 9px;
    display: none;
    text-align: center;
}

.mask select {
    margin-bottom: 15px;
}

.mask input {
    margin-bottom: 15px;
}

.mask h2 {
    margin-bottom: 37px;
}



/* Das Terminal-Div */
#terminal {
    position: absolute;
    bottom: 20px; /* Terminal erscheint unten auf der Seite */
    left: 50%;
    transform: translateX(-50%); /* Zentriert das Terminal */
    width: 80%;
    max-width: 600px;
    height: 0; /* Anfangshöhe ist 0 */
    overflow: hidden; /* Verhindert, dass Inhalt sichtbar ist, wenn das Terminal zugeklappt ist */
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    color: #fff;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0; /* Anfangs unsichtbar */
    visibility: hidden; /* Anfangs unsichtbar */
    transition: all 0.5s ease-in-out; /* Animation für das Öffnen/Schließen */
    z-index: 50000;
}

/* Wenn das Terminal geöffnet ist */
#terminal.open {
    height: auto; /* Maximale Höhe, wenn es geöffnet ist */
    opacity: 1; /* Sichtbar machen */
    visibility: visible; /* Sichtbar machen */
}

/* Der Inhalt des Terminals */
#terminal-content {
    padding: 10px;
    overflow-y: auto; /* Ermöglicht das Scrollen, wenn der Inhalt zu viel Platz benötigt */
    max-height: 100%;
}