#ltcdexhome {
    display: flex;
    flex-wrap: wrap; /* Falls kein Platz mehr ist, wird umgebrochen */
    gap: 1dvh;
    justify-content: flex-start; /* Karten von links nach rechts auffüllen */
}

.listing {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 0.5dvh;
    width: 100%;
    height: 10dvh;
    border-radius: 10px;
    box-shadow: 0 3px 16px rgba(255, 255, 255, 0.6);
    transition: transform 0.5s ease;
}

.listing:hover {
    transform: scale(1.05); /* Etwas vergrößern für den Effekt */
    box-shadow: 0 4px 20px rgba(220, 22, 60, 0.6) !important;
}

.listing img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.listing video {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.8dvh;
    font-weight: bold;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.37rem;
}

.info .header span {
    display: block;
    margin-bottom: 2px; /* Optional, um etwas Abstand zwischen den Zeilen zu schaffen */
}

.bar-container {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0; /* Hintergrund der Bar */
    position: relative;
    margin-top: 5px;
    border-radius: 5px;
}

.fill {
    height: 100%;
    background-color: green; /* Farbe der Bar (dynamisch veränderbar) */
    width: 0%; /* Startwert für die Breite der Bar (dynamisch veränderbar) */
    border-radius: 5px;
    transition: width 0.3s ease, background-color 0.3s ease;
}
