#traderbothome {
    display: flex;
    flex-wrap: wrap; /* Falls kein Platz mehr ist, wird umgebrochen */
    gap: 1dvh;
    justify-content: flex-start; /* Karten von links nach rechts auffüllen */
}

.nft {
    display: flex;
    align-items: center;
    width: 47%;
    height: 10dvh;
    background: #222;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 0.5dvh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.nft:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(220, 22, 60, 0.6) !important;
}

.nft img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.nft video {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 8px;
}

.nft-playpause {
    position: absolute;
    height: 5dvh;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 0px;
    border-radius: 1dvh;
    background: linear-gradient(145deg, #ffff00, #00ffff, #ff69b4, #00ff00);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.nft-playpause:hover {
    opacity: 1 !important;
}

.nft-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    max-height: 100%;
}

.nft-info span {
    font-size: 1.64dvh;
    font-weight: bold;
    margin-bottom: 2px;
    overflow-y: scroll;
}