.input-group {
    display: flex;
    align-items: center;
    gap: 1dvh;
}

.input-field {
    padding: 1dvh;
    font-size: 1.8dvh;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 48%;
}

.input-field:focus {
    outline: none;
    border-color: crimson;
}

.input-field-full {
    padding: 1dvh;
    font-size: 1.8dvh;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 100%;
}

.input-field-full:focus {
    outline: none;
    border-color: crimson;
}

.select-field {
    padding: 1dvh;
    font-size: 1.8dvh;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 65%; /* Breite anpassen, damit es mit den anderen Feldern übereinstimmt */
}

.select-field:focus {
    outline: none;
    border-color: crimson;
}
